<div class="container-sm p-5 bg-light">
  <h3 i18n>Get salaries by Month / Year</h3>
  <app-nice-form
    [formcontrol]="monthform"
    (result)="fetchSalariesByMonthYear($event)"
  ></app-nice-form>

  <div *ngIf="filteredSalaries.length > 0" class="mt-4">
    <h4 i18n>Salaries for the selected month and year</h4>
    <ag-grid-angular
      [rowData]="filteredSalaries"
      [columnDefs]="filteredSalaryDefs"
      style="height: 400px"
    />
  </div>

  <div *ngIf="filteredSalaries.length === 0" class="mt-4">
    <p i18n>No salaries found for the selected month and year.</p>
  </div>
</div>

<br />

<div class="container-sm p-5 bg-light">
  <div *ngIf="allLeaves.length > 0" class="mt-4">
    <h4 i18n>Leave Requests</h4>
    <ag-grid-angular
      [rowData]="allLeaves"
      [columnDefs]="allLeavesDefs"
      style="height: 400px"
    />
  </div>

  <div *ngIf="allLeaves.length === 0" class="mt-4">
    <p i18n>No leave requests found.</p>
  </div>
</div>

<br />

<div class="container-sm p-5 bg-light" *ngIf="showFilterEmployeeForm">
  <h3 i18n>Filter Employee</h3>
  <app-nice-form
    [formcontrol]="formFilterEmployee"
    (result)="fetchFilterEmployee($event)"
    [resetAfterSubmit]="false"
  ></app-nice-form>
</div>
<div class="container-sm p-5 bg-light">
  <div *ngIf="FilteredEmployee" class="mt-4">
    <h4 i18n>Filtered employee</h4>
    <ag-grid-angular
      [rowData]="FilteredEmployee"
      [columnDefs]="filteredEmployeeDefs"
      style="height: 400px"
    />
    <button
      i18n
      class="btn btn-primary"
      (click)="showMoreThen10()"
      *ngIf="!limit10 && FilteredEmployee.length >= 10"
    >
      Show all
    </button>
  </div>
</div>

<div *ngIf="FilteredEmployee && FilteredEmployee.length === 0" class="mt-4">
  <p i18n>No employee found.</p>
</div>
<br />

<div class="container-sm p-5 bg-light">
  <div *ngIf="allTasks.length > 0" class="mt-4">
    <h4 i18n>Tasks</h4>
    <ag-grid-angular
      [rowData]="allTasks"
      [columnDefs]="allTasksDefs"
      style="height: 400px"
    />
  </div>

  <div *ngIf="allTasks.length === 0" class="mt-4">
    <p i18n>No tasks found.</p>
  </div>
</div>
