<div class="d-flex flex-column-reverse flex-md-row gap-2">
  <div style="min-width: 200px" class="d-flex align-items-star p-5">
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <main class="align-items-center">
      <div class="container-sm p-5 bg-light" style="min-width: 500px">
        <div *ngIf="success_status=='SUCCESS'" class="alert alert-success">
          Employee added successfully!
        </div>

        <div *ngIf="success_status=='ERROR'" class="alert alert-danger">
          Attempting to add an employee resulted in an error. Try again.
        </div>

        <h3>Register user</h3>
        <p>Register a user to the company.</p>

        <app-nice-form
          [formcontrol]="formcontrol"
          (result)="register($event)"
        ></app-nice-form>
      </div>
    </main>
  </div>
</div>
