<main *ngIf="employee != null" class="col-12">
  <!--GREETINGS CARD-->

  <div class="container text-center py-2 my-5">
    <p>Good morning {{employee.firstName}} {{employee.lastName}}</p>
  </div>

  <!-- TOAST -->
  <div class="toast w-sm mx-auto" data-bs-autohide="false">
    <div class="toast-header">
      <strong class="me-auto"
        >Congratulations worker! 😃😃😃😃😃😃😃😃😃😃😃😃</strong
      >
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body text-left">
      <span>You have worked for </span>

      <strong class="display-6">{{clocked_time | date : 'H'}}</strong>
      <span class="display-8">{{clocked_time | date : 'mm'}}</span>
      <span> hours!</span>
    </div>
  </div>

  <!-- CLOCKED IN -->
  <div class="container text-center p-5 mt-5 shadow-sm bg-light">
    <div>
      <p class="h4">{{current_time | date : 'EEE, d MMMM y'}}</p>

      <p class="h5 text-secondary" [hidden]="employee.status != 'active'">
        Clocked in since
        <strong>{{employee.clocked_in_time | date : 'H:mm'}}</strong>
      </p>

      <strong class="display-2">{{current_time | date : 'h:mm'}}</strong>
      <span class="display-6">{{current_time | date : ':ss'}}</span>
      <span class="h3 ms-1">{{current_time | date : 'aa'}}</span>

      <p
        [ngClass]="!ontime ? 'text-secondary' : 'text-success'"
        [hidden]="employee.clocked_in"
      ></p>
    </div>

    <app-horizontal-timeline
      [timeline_start]="timeline_start"
    ></app-horizontal-timeline>

    <hr />

    <div class="d-flex flex-column gap-2 align-items-center">
      <!-- daily clock in time -->
      <p *ngIf="employee.clock_in_time != null">
        Your working hours are
        <br />
        <strong>{{employee.clock_in_time | date : 'H:mm'}}</strong>
        to
        <strong>{{employee.clock_out_time | date : 'H:mm'}}</strong>

        <span *ngIf="!ontime"> Free time </span>
        <span *ngIf="ontime"> Work hours </span>
      </p>

      <!-- clock in clock out -->
      <button
        type="button"
        class="btn w-75 btn-success"
        [hidden]="employee.status == 'active'"
        (click)="clock()"
      >
        Clock in
        <i class="fa-regular fa-clock"></i>
      </button>
      <button
        type="button"
        class="btn w-75 btn-dark"
        [hidden]="employee.status != 'active'"
        (click)="clock()"
      >
        Clock out
        <i class="fa-solid fa-flag-checkered"></i>
      </button>
    </div>
  </div>

  <div class="container-sm py-2 my-5 shadow-md bg-light">
    <h3>Tasks</h3>

    <div *ngIf="tasks != null">
      <div *ngFor="let task of tasks.tasks">
        <app-taskcard [task]="task"></app-taskcard>
        <hr />
      </div>
    </div>
  </div>
</main>
