<!-- TODO sidebar -->

<div class="col-sm-2 bg-light d-none d-lg-block min-vh-100">
  <div class="sticky-top cu-sidebar">
    <ul class="navbar-nav">
      <li class="nav-item">Item 1</li>
      <li class="nav-item">Item 2</li>
      <li class="nav-item">Item 3</li>
      <li class="nav-item">Item 4</li>
      <li class="nav-item">Item 5</li>
    </ul>
  </div>
</div>

<main class="col-sm-10">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit
    mauris non elit tristique, et finibus turpis interdum. Morbi pharetra
    efficitur leo, vitae fringilla velit faucibus vel. Sed varius nulla eget
    massa egestas sollicitudin. Nam vel erat nunc. Etiam efficitur lorem arcu,
    id dictum felis commodo pharetra. Integer lobortis sollicitudin velit, eget
    congue felis. Donec in justo neque. Nullam ut eros interdum, fermentum
    sapien ut, mollis ipsum. Ut elementum ligula at nisi tempor, eget pretium
    risus porttitor. Etiam malesuada diam eu bibendum viverra. Sed ultricies
    quam id tristique tristique. In in nibh in neque malesuada euismod vel sed
    velit. Sed varius egestas eros, quis viverra tellus aliquet sit amet. Sed
    dapibus ante ut pellentesque posuere. Vestibulum at dolor eget turpis
    laoreet varius. Suspendisse laoreet vel enim vel sodales accumsan tortor a
    fermentum. Maecenas consectetur laoreet odio non elementum. Etiam ut blandit
    nibh, vitae aliquet urna. Nulla faucibus interdum mattis. Morbi varius
    tincidunt tortor, quis malesuada eros ultrices ac. Donec faucibus egestas
    velit, ut faucibus mauris dictum quis. Cras et hendrerit ante. Duis
    imperdiet vehicula libero, ac hendrerit risus venenatis ut. Integer vitae
    massa ac turpis ultricies congue a non erat. Aliquam tincidunt a magna sed
    consequat. Mauris iaculis viverra augue, sit amet ullamcorper libero
    interdum in. Sed ornare odio ac bibendum tristique. Etiam sed dui ipsum.
    Phasellus nisi neque, porta a porta sed, dictum vitae augue. Praesent mattis
    auctor libero eu volutpat. Quisque id orci at nisl tempor tristique. Nam
    posuere nisl vel ullamcorper vestibulum. Mauris malesuada nec sem ut
    vestibulum. Etiam consequat velit vel condimentum aliquam. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Fusce mattis vehicula dui, vel mollis enim tincidunt vel. Phasellus
    vitae lacinia justo. Fusce imperdiet, lacus ac fermentum scelerisque, libero
    ipsum egestas dolor, eu finibus est lacus
  </p>
</main>