<div *ngIf="!deleted" class="card">
  <div
    class="card-header"
    [ngClass]="
    leave.status == 'Approved' ? 'bg-success' :
    leave.status == 'Pending' ? 'bg-secondary' :
    leave.status == 'Rejected' ? 'bg-warning' : ''"
  >
    <span class="badge bg-secondary float-right"> {{leave.status}} </span>
    <span class=""> {{leave.appliedAt | date: "dd/MM/Y hh:mm:ss"}}</span>
  </div>
  <div class="card-body">
    <strong i18n>Description: </strong><br />
    {{leave.reason}}<br />
    <hr />
    <strong i18n>Start date: </strong>
    {{leave.startDate | date: "dd/MM/Y hh:mm:ss"}}<br />
    <strong i18n>Due date: </strong>
    {{leave.endDate | date: "dd/MM/Y hh:mm:ss"}}
    <br />
  </div>
  <div class="card-footer">
    <div class="input-group mb-3">
      <button
        i18n
        (click)="changeStatus()"
        type="button"
        class="btn btn-primary"
      >
        Change status
      </button>
      <select [(ngModel)]="selectedStatus" class="form-select">
        <option i18n>Pending</option>
        <option i18n>Approved</option>
        <option i18n>Rejected</option>
      </select>
      <div *ngIf="employeeService.role === 'admin'">
        <button
          i18n
          (click)="deleteLeave()"
          type="button"
          class="btn btn-danger"
        >
          Delete leave
        </button>
      </div>
    </div>
  </div>
</div>
