<div class="container-sm p-5 bg-light">
  <h3>Add a salary to this employee</h3>
  <app-nice-form
    [formcontrol]="salaryform"
    (result)="addSalary($event)"
  ></app-nice-form>

  <div *ngIf="(employee_salaries | async) as salaries">
    <div>{{salaries | json}}</div>
  </div>

  <br />
</div>

<div class="container bg-light">
  <ngx-charts-line-chart
    [animations]="false"
    [view]="[1000, 400]"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="salarydata$ | async"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
  {{salarydata$ | async | json}}
</div>
