<div *ngIf="!deleted" class="card">
  <div
    class="card-header"
    [ngClass]="
    task.status == 'Done' ? 'bg-success' :
    task.status == 'Todo' ? 'bg-secondary' :
    task.status == 'In progress' ? 'bg-warning' : ''"
  >
    <span class="badge bg-secondary float-right"> {{task.status}} </span>
    <span class=""> {{task.updatedAt | date: "dd/MM/Y hh:mm:ss"}}</span>
  </div>
  <div class="card-body">
    <strong>Description: </strong><br />
    {{task.description}}<br />
    <hr />
    <strong>Start date: </strong>
    {{task.startDate | date: "dd/MM/Y hh:mm:ss"}}<br />
    <strong>Due date: </strong>
    {{task.dueDate | date: "dd/MM/Y hh:mm:ss"}}
    <br />
  </div>
  <div class="card-footer">
    <div class="input-group mb-3">
      <button (click)="changeStatus()" type="button" class="btn btn-primary">
        Change status
      </button>
      <select [(ngModel)]="selectedStatus" class="form-select">
        <option>Todo</option>
        <option>In progress</option>
        <option>Done</option>
      </select>
      <button (click)="deleteTask()" type="button" class="btn btn-danger">
        Delete task
      </button>
    </div>
  </div>
</div>
