<div class="d-flex flex-column-reverse flex-md-row gap-2">
  <div style="min-width: 200px" class="d-flex align-items-star p-5">
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <main *ngIf="employee!=null" class="align-items-center">
      <div class="container-sm p-5 bg-light">
        <div *ngIf="success_status=='SUCCESS'" class="alert alert-success">
          Employee updated successfully!
        </div>

        <div *ngIf="success_status=='ERROR'" class="alert alert-danger">
          Attempting to update an employee resulted in an error. Try again.
        </div>

        <h3>Change {{employee.userName}}'s user data</h3>
        <p>Update the data of this user.</p>

        <app-nice-form
          [formcontrol]="formcontrol"
          (result)="update($event)"
        ></app-nice-form>
      </div>
      <br />
      <div class="container-sm p-5 bg-light">
        <h3>Delete {{employee.userName}}'s user profile</h3>
        <p>Remove the data of this user from the database.</p>
        <div class="text-center">
          <button (click)="remove()" type="submit" class="btn btn-danger w-75">
            Delete
          </button>
        </div>
      </div>
      <br />
      <div class="container-sm p-5 bg-light">
        <h3>Add a salary to this employee</h3>
        <app-nice-form
          [formcontrol]="salaryform"
          (result)="addSalary($event)"
        ></app-nice-form>

        <div *ngIf="employee_salary.length > 0" class="mt-4">
          <div class="container-sm p-5 bg-light">
            <h3>{{ employee?.userName }} salaries</h3>
              <table class="table table-bordered table-hover ">
                <thead>
                  <tr>
                    <th>Basic Salary</th>
                    <th>Allowances</th>
                    <th>Deductions</th>
                    <th>Net Salary</th>
                    <th>Pay Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let salary of employee_salary">
                    <td>{{ salary.basicSalary }}</td>
                    <td>{{ salary.allowances }}</td>
                    <td>{{ salary.deductions }}</td>
                    <td>{{ salary.basicSalary + (salary.allowances || 0) - (salary.deductions || 0) }}</td>
                    <td>{{ salary.payDate | date: 'shortDate' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

      </div>

      <br />
      <div class="container-sm p-5 bg-light">
        <h3>Request a leave</h3>
        <app-nice-form
          [formcontrol]="leaverequestform"
          (result)="requestLeave($event)"
        ></app-nice-form>

        <div *ngIf="(employee_leaves | async) as leaves">
          <div>{{leaves | json}}</div>
        </div>
      </div>

      <br />
      <div class="container-sm p-5 bg-light">
        <h3>Create a task</h3>
        <app-nice-form
          [formcontrol]="createtaskform"
          (result)="createTask($event)"
        ></app-nice-form>

        <div class="container-sm py-2 my-5 shadow-md bg-light">
        <h3>Tasks</h3>

        <div *ngIf="tasks != null">
          <div *ngFor="let task of tasks.tasks">
            <app-taskcard [task]="task"></app-taskcard>
            <hr />
          </div>
        </div>
        </div>
      </div>

      <br />
      <div class="container-sm p-5 bg-light">
        <h3>Create a department</h3>
        <app-nice-form
          [formcontrol]="createdepartmentform"
          (result)="createDepartment($event)"
        ></app-nice-form>

        <div *ngIf="departments != null">
          <div
            *ngFor="let department of departments"
            [innerHTML]="department.name"
          ></div>
        </div>
      </div>
    </main>
  </div>
</div>
