.nav-link:hover {
  background-color: rgb(219, 219, 219);
}

.navbar {
  z-index: 100;
  height: 60px;
  padding: 0 !important;
}

.navbar-height {
  height: 60px;
}

.empty {
  height: 100px;
}

@media (min-width: 576px) {
  .w-sm {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .w-sm {
    width: 50%;
  }
}

.vh-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON */

.btn {
  padding: 10px 10px;
  font-weight: 500;
}

.btn > i {
  margin-left: 4px;
}

/* CONTAINERS */

.container-sm {
  width: 612px;
}
