<div class="d-flex flex-column-reverse flex-md-row gap-2">
  <div class="">
    <div
      class="container-fluid sidebar-header d-flex align-items-center justify-content-between"
    >
      <h5>Departments</h5>
    </div>
    <ul class="nav flex-column mt-3">
      <li *ngFor="let department of departments" class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="'/department/' + department._id"
          ><b>{{department.name}}</b><br /><span class="text-muted"
            >{{department.description}}</span
          ></a
        >
      </li>
    </ul>
  </div>

  <div class="container-sm p-5 bg-light">
    <h3>Create department</h3>
    <app-nice-form
      [formcontrol]="createDepartmentform"
      (result)="addDepartment($event)"
    ></app-nice-form>
  </div>
</div>
