<div
  class="navbar navbar-expand bg-light position-fixed w-100 container-fluid d-flex align-items-start justify-content-start gap-2"
  style="top: 0; left: 0"
>
  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/'"> Clock in </a>
  </div>
  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/calendar'"> Calendar </a>
  </div>
  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/analytics'"> Analytics </a>
  </div>
  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/login'"> Log in </a>
  </div>

  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/register'"> Register a user </a>
  </div>

  <div class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer">
    <a [routerLink]="'/departments'"> Departments </a>
  </div>
  
  <div
  class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer"
  (click)="addData()"
>
  <button class="btn btn-primary btn-sm">Add Data</button>
</div>

<div
  class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer"
  (click)="deleteData()"
>
  <button class="btn btn-danger btn-sm">Delete Data</button>
</div>

  <div
    *ngIf="employeeService.logged_in"
    class="nav-link d-flex align-items-center h-100 p-2 cursor-pointer ms-auto"
  >
    <div style="cursor: pointer" (click)="logout()">Log out</div>
  </div>

  <div
    *ngIf="employeeService.logged_in"
    class="d-flex align-items-center h-100 p-2 ms"
  >
    <strong>{{employeeService.username}}</strong>
  </div>
</div>

<div class="navbar-height"></div>
