<div
  class="navbar navbar-expand bg-light position-fixed w-100 container-fluid d-flex align-items-stretch justify-content-between gap-2 ps-3"
  style="top: 0; left: 0"
  [ngClass]="{ 
    'navbar-hamburger': hamburgerMenu, 
    'navbar-hamburger-closed': menuHidden 
}"
>
  <div class="nav-btn" *ngIf="hamburgerMenu">
    <i class="fas fa-bars" *ngIf="menuHidden" (click)="toggleMenu()"></i>
    <i class="fas fa-x" *ngIf="!menuHidden" (click)="toggleMenu()"></i>
    <div i18n style="margin-bottom: 2px">Clockin</div>
  </div>
  <div
    class="d-flex align-items-center align-items-stretch gap-2 sub-menu"
    *ngIf="!menuHidden || !hamburgerMenu"
  >
    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/clockin')"
    >
      <a i18n> Clock in </a>
    </div>
    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/calendar')"
    >
      <a i18n> Calendar </a>
    </div>
    <div
      *ngIf="(employeeService.role === 'admin') && (!!employeeService.username)"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/analytics')"
    >
      <a i18n> Analytics </a>
    </div>

    <div
      *ngIf="(employeeService.role === 'admin') && (!!employeeService.username)"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/register')"
    >
      <a i18n> Employee </a>
    </div>

    <div
      *ngIf="(employeeService.role === 'admin') && (!!employeeService.username)"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/departments')"
    >
      <a i18n> Departments </a>
    </div>

    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/tasks')"
    >
      <a i18n> Tasks </a>
    </div>

    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/leaves')"
    >
      <a i18n> Leaves </a>
    </div>

    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/salaries')"
    >
      <a i18n> Salaries </a>
    </div>
    <div
      *ngIf="employeeService.username"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="openUrl('/settings')"
    >
      <a i18n> Settings </a>
    </div>
    <div
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="addData(); openModal(addsucces)"
    >
      <button class="btn btn-primary btn-sm">Add Data</button>
    </div>

    <ng-template #addsucces>
      <div class="modal-header" style="background-color: #34eb93">
        <h3 i18n class="modal-title pull-left">Data added succesfully!</h3>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </ng-template>

    <div
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      (click)="deleteData(); openModal(deletesucces)"
    >
      <button i18n class="btn btn-danger btn-sm">Delete Data</button>
    </div>

    <ng-template #deletesucces>
      <div class="modal-header" style="background-color: #eb4034">
        <h3 i18n class="modal-title pull-left">Data deleted succesfully!</h3>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </ng-template>
  </div>

  <div
    class="d-flex align-items-center justify-content-end gap-2 align-items-stretch sub-menu"
    *ngIf="!menuHidden || !hamburgerMenu"
  >
    <div
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
      *ngIf="!employeeService.logged_in"
      (click)="openUrl('/login')"
    >
      <a i18n> Log in </a>
    </div>
    <div
      *ngIf="employeeService.logged_in"
      class="nav-link d-flex align-items-center p-2 cursor-pointer"
    >
      <div i18n style="cursor: pointer" (click)="logout()">Log out</div>
    </div>

    <div
      *ngIf="employeeService.logged_in"
      class="d-flex align-items-center p-2"
    >
      <strong>{{employeeService.username}}</strong>
    </div>
  </div>
</div>

<div class="navbar-height"></div>
