<!-- formArrayName = "infinite values"  formGroupName = "i" hasError -->

<!-- {{formgroup.value | json}} -->

<!-- FORM -->

<form [formGroup]="formgroup" (ngSubmit)="submit()">
  <div *ngFor="let control of formcontrol">
    <div
      *ngIf="control.type == 'text' || control.type == 'password' || control.type == 'date'"
      class="mb-3 mt-3"
    >
      <label
        class="form-label"
        for="myCheck"
        [innerHTML]="control.title"
      ></label>
      <input
        class="form-control"
        [ngClass]="getValidationClass(control.name)"
        [type]="control.type"
        [placeholder]="control.placeholder"
        [formControlName]="control.name"
      />

      <div
        i18n
        *ngIf="formgroup.get(control.name)?.dirty && !formgroup.get(control.name)?.valid"
        class="invalid-feedback"
      >
        Invalid input.
      </div>
    </div>

    <div *ngIf="control.type  == 'check'" class="form-check mb-3">
      <input
        class="form-check-input"
        [ngClass]="getValidationClass(control.name)"
        type="checkbox"
        [formControlName]="control.name"
      />
      <label
        class="form-check-label"
        for="myCheck"
        [innerHTML]="control.title"
      ></label>

      <div
        i18n
        *ngIf="formgroup.get(control.name)?.dirty && !formgroup.get(control.name)?.valid"
        class="invalid-feedback"
      >
        Check this box to continue
      </div>
    </div>
    <div *ngIf="control.type === 'select' && control.options" class="mb-3 mt-3">
      <label class="form-label" [innerHTML]="control.title"></label>
      <select
        class="form-select"
        [ngClass]="formgroup.get(control.name)?.valid ? 'is-valid' : 'is-invalid'"
        [formControlName]="control.name"
      >
        <option *ngFor="let option of control.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
      <div
        i18n
        *ngIf="formgroup.get(control.name)?.dirty && !formgroup.get(control.name)?.valid"
        class="invalid-feedback"
      >
        Please select a valid option.
      </div>
    </div>
  </div>

  <!-- BUTTON -->
  <div i18n class="text-center">
    <button
      [disabled]="!formgroup.valid"
      type="submit"
      class="btn btn-primary w-75"
    >
      Submit
    </button>
  </div>
</form>
