<div class="container-sm p-5 bg-light">
  <h3>Add a leave request</h3>
  <app-nice-form
    [formcontrol]="leaveform"
    (result)="addLeave($event)"
  ></app-nice-form>
</div>

<div class="container-sm p-5 bg-light">
  <h3>{{ employee?.userName}} Leaves</h3>
    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <th>Reason</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Applied At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of employee_leaves">
          <td>{{ leave.reason }}</td>
          <td>{{ leave.startDate  | date: 'shortDate' }}</td>
          <td>{{ leave.endDate  | date: 'shortDate' }}</td>
          <td>{{ leave.status || "Pending" }}</td>
          <td>{{ leave.appliedAt  | date: 'shortDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>