<div class="container-sm p-5 bg-light">
  <div i18n *ngIf="error" class="alert alert-danger">Error adding leave.</div>
  <div i18n *ngIf="success" class="alert alert-success">
    Leave successfully added.
  </div>

  <h3 i18n>Add a leave request</h3>
  <app-nice-form
    [formcontrol]="leaveform"
    (result)="addLeave($event)"
  ></app-nice-form>
</div>

<div *ngIf="employee_leaves.length > 0" class="mt-4">
  <div class="container-sm p-5 bg-light">
    <h3>{{ employee?.userName}} leaves:</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th i18n>Reason</th>
          <th i18n>Start Date</th>
          <th i18n>End Date</th>
          <th i18n>Status</th>
          <th i18n>Applied At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of employee_leaves">
          <td>{{ leave.reason }}</td>
          <td>{{ leave.startDate | date: 'shortDate' }}</td>
          <td>{{ leave.endDate | date: 'shortDate' }}</td>
          <td>{{ leave.status || "Pending" }}</td>
          <td>{{ leave.appliedAt | date: 'shortDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
